<div class="post-member">
    <div class="thumbnail">
        <img src="{{ '/assets/member/김도영.jpg' | relative_url }}" alt="">
    </div>
    <div class="desc">
        <div class="inner-cell">
            <span class="name">김도영 | Data Analyst</span>
            <span class="introduce">머신러닝파트의 데이터 분석을 담당하고 있습니다.</span>
            <div class="skill">
                <ul class="skill-list">
                    <li>
                        <a href="/tags/#python">#python</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>