<div class="post-member">
    <div class="thumbnail">
        <img src="{{ '/assets/member/최혁근.jpg' | relative_url }}" alt="">
    </div>
    <div class="desc">
        <div class="inner-cell">
            <span class="name">최혁근 | ML Engineer</span>
            <span class="introduce">머신러닝 모델 리서치와 개발을 담당하고 있습니다.</span>
            <div class="skill">
                <ul class="skill-list">
                    <li>
                        <a href="/tags/#python">#python</a>
                    </li>
                    <li>
                        <a href="/tags/#ml">#ml</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>