<div class="post-member">
    <div class="thumbnail">
        <img src="{{ '/assets/member/전지호.jpg' | relative_url }}" alt="">
    </div>
    <div class="desc">
        <div class="inner-cell">
            <span class="name">전지호 | Web Developer</span>
            <span class="introduce">머신러닝 인프라 개발과 웹 개발 전반을 담당하고 있습니다.</span>
            <div class="skill">
                <ul class="skill-list">
                    <li>
                        <a href="/tags/#aws">#aws</a>
                    </li>
                    <li>
                        <a href="/tags/#docker">#docker</a>
                    </li>
                    <li>
                        <a href="/tags/#kubernetes">#kubernetes</a>
                    </li>
                    <li>
                        <a href="/tags/#python">#python</a>
                    </li>
                    <li>
                        <a href="/tags/#javascript">#javascript</a>
                    </li>
                    <li>
                        <a href="/tags/#react">#react</a>
                    </li>
                    <li>
                        <a href="/tags/#vue">#vue</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>