<div class="post-member">
    <div class="thumbnail">
        <img src="{{ '/assets/member/권승진.jpg' | relative_url }}" alt="">
    </div>
    <div class="desc">
        <div class="inner-cell">
            <span class="name">권승진 | ML Engineer</span>
            <span class="introduce">마케팅 개발실 머신러닝 파트에서 일하고 있습니다.</span>
            <div class="skill">
                <ul class="skill-list">
                    <li>
                        <a href="/tags/#python">#python</a>
                    </li>
                    <li>
                        <a href="/tags/#computervision">#computervision</a>
                    </li>
                    <li>
                        <a href="/tags/#ml">#ml</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>