# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: 배터리호 기술블로그
email: gorokke18@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  MLOps, Kubernetes, React, Node.js 등 다양한 기술 주제를 다루는 개발 블로그입니다.
  실무 경험과 기술 지식을 공유합니다.
environment: "production"
lang: ko_KR

baseurl: ""
url: "https://batteryhob.github.io/"
twitter_username: ""
github_username:  ""

# Header navigation menu
header_pages:
  - tags.md

# SEO settings
author:
  name: 배터리호
  email: gorokke18@gmail.com

social:
  name: 배터리호
  links: []

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-toc
  - jekyll-seo-tag
  - jekyll-sitemap

# Matchjax
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Table of contents
toc:
  min_level: 2 # default: 1
  max_level: 2 # default: 6

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/