{%- if page.author -%}
    {%- if page.author == "전지호" -%}
        {% include _members/ji_ho_jeon.html %}
    {%- endif -%}
    {%- if page.author == "권승진" -%}
        {% include _members/seung_jin_kwon.html %}
    {%- endif -%}
    {%- if page.author == "김도영" -%}
        {% include _members/do_young_kim.html %}
    {%- endif -%}
    {%- if page.author == "최혁근" -%}
        {% include _members/hyuk_geun_choi.html %}
    {%- endif -%}
    {%- if page.author == "김연수" -%}
        {% include _members/yeon_soo_kim.html %}
    {%- endif -%}
    {%- if page.author == "백상현" -%}
        {% include _members/sang_hyun_baek.html%}
    {%- endif -%}
{%- endif -%}
